@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

body {
	background-color: black;
	font-family: 'Roboto', Helvetica, Arial;
	font-size: 18px;
	font-weight: 300;
}

p {
	color: white;
}

a {}

.one {
	color: white;
	font-size: 16x;
	text-decoration: none;
}

.two {
	color: white;
	font-size: 16x;
	text-decoration: none;
}

.three {
	color: white;
	font-size: 16x;
	font-weight: bold;
	text-decoration: none;
}

.four {
	color: red;
	font-size: 16x;
	text-decoration: none;
}

.image_size {
	width:"250px";
}



#header {
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-weight: bold;
}


#container {
	background-color: black;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}


#nav {
	text-align: left;
	word-spacing: 32px;
	font-size: 18px;
}


#main {
	float: center;
	text-align: center;

}

#about {
	text-align: left;
	float: center;
}

#footer {
	clear: both;
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-size: 10px;
}

#indent {
	text-indent: 2.0em;
}

#projectlist {
	text-align: left;
	list-style-type: none;
	line-height: 200%;
}

pre code {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	float: left;
	width: 48%;
	padding: 5px;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

img {
	border-radius: 7.5px;
}